# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RESTAPI_NTH_Online\Partner_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
